<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
    Launch demo modal
  </button>
<div class="modal modal-lg" id="exampleModal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Datos del pago</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="tab-content">
                <div class="row">

                    <div class="col">
                        <label for="Tipo de producto">Tipo de producto:</label>
                    </div>

                    <div class="col">
                        <div>Aseo</div>
                    </div>

                    <div class="col">
                        <label for="Tiempo de mora:">Tiempo de mora:</label>
                        <div></div>
                    </div>

                    <div class="col">
                        <div>180 dias</div>
                    </div>

                </div>
                <div class="row">

                    <div class="col">
                        <label for="Valor total:">Valor total:</label>
                        <div></div>
                    </div>

                    <div class="col">
                        <div>$ 250.000,98</div>
                    </div>

                    <div class="col">
                        <label for="echa de inicio de mora:">Fecha de inicio de mora:</label>
                        <div></div>
                    </div>

                    <div class="col">
                        <div>2023-04-01</div>
                    </div>

                </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Volver</button>
          <button type="button" class="btn btn-primary">Agregar producto</button>
        </div>
      </div>
    </div>
  </div>