
  <p-dialog header="Header" [(visible)]="visible" [style]="{ width: '70vw', height: '40vw' }">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Datos del producto</span>
    </ng-template>
    <div class="tab-content">
        <form #productForm="ngForm">
            <div class="row form-group">
                <div class="row">
                    <div class="col">
                        <div class="form-floating">
                            <select id="inTypeProduct" name="inTypeProduct"
                                class="form-select custom-input" aria-label="tipo de producto"
                                [(ngModel)]="selectedTypeProducts" required>
                                <option *ngFor="let tipo of typeProducts"
                                    [value]="tipo.productTypeIdMaster">{{tipo.productTypeName}}
                                </option>
                            </select>
                            <label for="inTypeProduct">Tipo de producto *</label>
                        </div>
                    </div>
        
                    <div class="col">
                        <div class="form-floating">
                            <input id="inDaysPastDue" name="inDaysPastDue" class="form-control custom-input"
                                aria-label="dias de mora" [(ngModel)]="inDaysPastDue" required>
                            <label for="inDaysPastDue">Digite la cantidad de dias en mora</label>
                        </div>
                    </div>
        
                </div>
                <div class="row">
        
                    <div class="col">
                        <div class="form-floating">
                            <input id="inTotalDebt" name="inTotalDebt" class="form-control custom-input"
                                aria-label="valor a pagar" [(ngModel)]="inTotalDebt" required>
                            <label for="inTotalDebt">Digite el valor del servicio</label>
                        </div>
                    </div>
        
                    <div class="col">
                        <p-calendar [(ngModel)]="date" class="custom-calendar" (onSelect)="getDateSelected()"></p-calendar>
                    </div>
        
                </div>
                <div class="row">
        
                    <div class="col">
                        <div class="form-floating">
                            <input id="inNumBill" name="inNumBill" class="form-control custom-input"
                                aria-label="valor a pagar" [(ngModel)]="inNumBill" required>
                            <label for="inNumBill">Digite el número de la factura</label>
                        </div>
                    </div>
        
                </div>

            </div>
        </form>
        
    </div>
    <ng-template pTemplate="footer">
        
        <button type="submit" class="searchCustomer btn btn-primary my-2" [disabled]="!productForm.valid" (click)="createProduct(productForm)">Agregar nuevo producto</button>
    </ng-template>
</p-dialog>