
    <p-tabView>
        <p-tabPanel header="Cliente">
            <div class="tab-content">
                <div class="row">

                    <div class="col">
                        <label for="Tipo documento:">Tipo de documento:</label>
                    </div>

                    <div class="col">
                        <div>Cedula</div>
                    </div>

                    <div class="col">
                        <label for="Departamento:">Departamento:</label>
                        <div></div>
                    </div>

                    <div class="col">
                        <div>Cauca</div>
                    </div>

                </div>
                <div class="row">

                    <div class="col">
                        <label for="Numero de documento:">Numero de documento:</label>
                        <div></div>
                    </div>

                    <div class="col">
                        <div>1013679830</div>
                    </div>

                    <div class="col">
                        <label for="Ciudad:">Ciudad:</label>
                        <div></div>
                    </div>

                    <div class="col">
                        <div>Mariquita</div>
                    </div>

                </div>

                <div class="row">

                    <div class="col">
                        <label for="Nombres y Apellidos:">Nombres y Apellidos:</label>
                        <div></div>
                    </div>

                    <div class="col">
                        <div>Erika Yessenia Restrepo Sandoval</div>
                    </div>

                    <div class="col">
                        <label for="Direccion:">Direccion:</label>
                        <div></div>
                    </div>

                    <div class="col">
                        <div>call 43 sur # 12- 91</div>
                    </div>

                </div>

                <div class="row">

                    <div class="col">
                        <label for="Correo electrónico:">Correo electrónico:</label>
                        <div></div>
                    </div>

                    <div class="col">
                        <div>erika@gmail.com</div>
                    </div>

                    <div class="col">
                        <label for="Número de contacto:">Número de contacto:</label>
                        <div></div>
                    </div>

                    <div class="col">
                        <div>3222872852</div>
                    </div>

                </div>

            </div>
        </p-tabPanel>
    </p-tabView>
    <p-tabView>
        <p-tabPanel header="Productos">
            <p-table [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th>Tipo de producto</th>
                        <th>Tiempo en mora</th>
                        <th>Fecha inicio mora</th>
                        <th>Valor total</th>
                        <th style="width: 5rem">Opciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-customer>
                    <tr *ngFor="let customerTypeOne of customerTypeOneArray[0]">
                        <td>{{ customerTypeOne?.documentTypeName }}</td>
                        <td>{{ customerTypeOne?.document }}</td>
                        <td>{{ customerTypeOne?.firstName }} {{ customerTypeOne?.secondName }} {{ customerTypeOne?.lastName }} {{ customerTypeOne?.secondLastName }}</td>
                        <td>{{ customerTypeOne?.statusName }}</td>
                        <td><p-button label="Pagar"></p-button></td>
                      </tr>
                </ng-template>
            </p-table>
            <button type="button" class="addProduct btn btn-primary">Agregar producto</button>
        </p-tabPanel>
    </p-tabView>

