
    <p-tabView>
        <p-tabPanel header="Cliente">
            <div class="tab-content">
                <div class="row" *ngIf="customerTypeTwoArray.length > 0">

                    <div class="col">
                        <label for="Tipo documento:">Tipo de documento:</label>
                    </div>

                    <div class="col">
                        <label>{{ customerTypeTwoArray[0]?.documentTypeName }}</label>
                    </div>

                    <div class="col">
                        <label for="Departamento:">Departamento:</label>
                        <div></div>
                    </div>

                    <div class="col">
                        <label>{{ customerTypeTwoArray[0]?.departmentName }}</label>
                    </div>

                </div>
                <div class="row">

                    <div class="col">
                        <label for="Numero de documento:">Numero de documento:</label>
                        <div></div>
                    </div>

                    <div class="col">
                        <label>{{ customerTypeTwoArray[0]?.document }}</label>
                    </div>

                    <div class="col">
                        <label for="Ciudad:">Ciudad:</label>
                        <div></div>
                    </div>

                    <div class="col">
                        <label>{{ customerTypeTwoArray[0]?.cityName }}</label>
                    </div>

                </div>

                <div class="row">

                    <div class="col">
                        <label for="Nombres y Apellidos:">Nombres y Apellidos:</label>
                        <div></div>
                    </div>

                    <div class="col">
                        <div><label>{{ customerTypeTwoArray[0]?.firstName }} {{ customerTypeTwoArray[0]?.secondName }} {{ customerTypeTwoArray[0]?.lastName }} {{ customerTypeTwoArray[0]?.secondLastName }}</label></div>
                    </div>

                    <div class="col">
                        <label for="Direccion:">Direccion:</label>
                        <div></div>
                    </div>

                    <div class="col">
                        <label>{{ customerTypeTwoArray[0]?.address }}</label>
                    </div>

                </div>

                <div class="row">

                    <div class="col">
                        <label for="Correo electrónico:">Correo electrónico:</label>
                        <div></div>
                    </div>

                    <div class="col">
                        <label>{{ customerTypeTwoArray[0]?.email }}</label>
                    </div>

                    <div class="col">
                        <label for="Número de contacto:">Número de contacto:</label>
                        <div></div>
                    </div>

                    <div class="col">
                        <label>{{ customerTypeTwoArray[0]?.phoneNumber }}</label>
                    </div>

                </div>

            </div>
        </p-tabPanel>
    </p-tabView>
    <p-tabView>
        <p-tabPanel header="Productos">
            <p-table [paginator]="true" [rows]="10" *ngIf="products" [value]="products" [tableStyle]="{ 'min-width': '50rem' }">
                <ng-template pTemplate="header">
                    <tr>
                        <th># Factura</th>
                        <th>Tipo de producto</th>
                        <th>Tiempo en mora</th>
                        <th>Fecha inicio mora</th>
                        <th>Estado</th>
                        <th>Valor total</th>
                        <th style="width: 5rem">Opciones</th>
                    </tr>
                </ng-template>
                <ng-template pTemplate="body" let-product>
                    <tr>
                        <td>{{ product.productNumBill }}</td>
                        <td>{{ product.productTypeName }}</td>
                        <td>{{ product.daysPastDue }}</td>
                        <td>{{ product.dateProductPayment | date:'yyyy-MM-dd'}}</td>
                        <td>{{ product.statusName }}</td>
                        <td>{{ product.totalDebt }}</td>
                        <td><p-button label="Pagar" (click)="openModalPaymentService(product.productNumBill,product.productTypeName,product.daysPastDue,product.dateProductPayment,product.totalDebt )"></p-button></td>
                      </tr>
                </ng-template>
            </p-table>
            <button type="button" class="addProduct btn btn-primary" (click)="openModalProductService(customerTypeTwoArray[0]?.document)">Agregar producto</button>
        </p-tabPanel>
    </p-tabView>

<app-payment-create></app-payment-create>
<app-product-create></app-product-create>