.searchCustomer{
    color: #FFDC5D !important;
    background-color: #016d38 !important;
}
.custom-input {
    border: none;
    border-bottom: 1px solid #016D38;
    outline: none;
    box-shadow: none; /* Elimina el sombreado predeterminado del foco */
    
}