<!--<p-button (click)="openModalPayment(1)" icon="pi pi-external-link" label="Show"></p-button>-->
<p-dialog header="Header" [(visible)]="visible" [style]="{ width: '50vw' }" *ngIf="productToPay">
    <ng-template pTemplate="header">
        <span class="text-xl font-bold">Datos del producto a pagar</span>
    </ng-template>
    <div class="tab-content">
        <div class="row">

            <div class="col">
                <label for="Tipo de producto">Tipo de producto:</label>
            </div>

            <div class="col">
                <div>{{ productToPay.productTypeName }}</div>
            </div>

            <div class="col">
                <label for="Tiempo de mora:">Tiempo de mora:</label>
                <div></div>
            </div>

            <div class="col">
                <div>{{ productToPay.daysPastDue }}</div>
            </div>

        </div>
        <div class="row">

            <div class="col">
                <label for="Valor total:">Valor total:</label>
                <div></div>
            </div>

            <div class="col">
                <div>$ {{ productToPay.totalDebt }}</div>
            </div>

            <div class="col">
                <label for="echa de inicio de mora:">Fecha de inicio de mora:</label>
                <div></div>
            </div>

            <div class="col">
                <div>{{ productToPay.dateProductPayment | date:'yyyy-MM-dd'}}</div>
            </div>

        </div>
    </div>
    <ng-template pTemplate="footer">
        <button type="button" class="addProduct btn btn-primary" (click)="createPayment(productToPay.productNumBill, productToPay.totalDebt)">Realizar pago</button>
    </ng-template>
</p-dialog>
