<p-tabView>
    <p-tabPanel header="Cliente">
        <div class="tab-content">
            <div class="row">

                <div class="col">
                    <label for="Tipo documento:">Tipo de documento:</label>
                </div>

                <div class="col">
                    <input placeholder="Tipo de documento"/>
                </div>

                <div class="col">
                    <label for="Departamento:">Departamento:</label>
                    <div></div>
                </div>

                <div class="col">
                    <input placeholder="Departamento"/>
                </div>

            </div>
            <div class="row">

                <div class="col">
                    <label for="Numero de documento:">Numero de documento:</label>
                    <div></div>
                </div>

                <div class="col">
                    <input placeholder="Numero de documento"/>
                </div>

                <div class="col">
                    <label for="Ciudad:">Ciudad:</label>
                    <div></div>
                </div>

                <div class="col">
                    <input placeholder="Ciudad"/>
                </div>

            </div>

            <div class="row">

                <div class="col">
                    <label for="Primer nombre:">Primer nombre:</label>
                    <div></div>
                </div>

                <div class="col">
                    <input placeholder="Primer nombre"/>
                </div>

                <div class="col">
                    <label for="Direccion:">Direccion:</label>
                    <div></div>
                </div>

                <div class="col">
                    <input placeholder="Direccion"/>
                </div>

            </div>

            <div class="row">

                <div class="col">
                    <label for="Segundo nombre:">Segundo nombre:</label>
                    <div></div>
                </div>

                <div class="col">
                    <input placeholder="Segundo nombre"/>
                </div>

                <div class="col">
                    <label for="Número de contacto:">Número de contacto:</label>
                    <div></div>
                </div>

                <div class="col">
                    <input placeholder="Número de contacto"/>
                </div>

            </div>

            <div class="row">

                <div class="col">
                    <label for="Primer apellido:">Primer apellido</label>
                </div>

                <div class="col">
                    <input placeholder="Primer apellido"/>
                </div>

                <div class="col">
                    <label for="Correo electrónico:">Correo electrónico:</label>
                </div>

                <div class="col">
                    <input placeholder="Correo electrónico"/>
                </div>

            </div>

            <div class="row">

                <div class="col">
                    <label for="Segundo apellido:">Segundo apellido</label>
                </div>

                <div class="col">
                    <input placeholder="Segundo apellido"/>
                </div>

                <div class="col">
                    
                </div>

                <div class="col">
                    <button type="button" class="updateCustomer btn btn-primary">Actualizar datos</button>
                </div>
                

            </div>

        </div>
    </p-tabPanel>
</p-tabView>